* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
font-family: Arial, sans-serif;
color: #000000;
line-height:1.6;

	background-image: url(Images/midgar.jpg);
background-size:cover;
background-position:center;
background-repeat:no-repeat;
 background-color: #cccccc;

}

#aboutpage {
	background-image:url(Images/shinra.jpg);

 background-color: #cccccc;
}
/* contact page */
#contact-page {
	background-color: #ffffff;
	background-image:none;
	margin:0;
	padding:0;
}
.callus{
	background-color:white;
	color:black;
	border: 2px solid #cccccc;
	border-radius:10px;
	text-align:center;
	padding:20px;
	margin:20px auto;
	max-width:600px;
	flex:1;
}
.callus h1 {
	font-size:5rem;
	margin-bottom:50px;
}

.callus p {
	font-size:4rem;
	margin-top:50px;
}

.contact-image figure img {
	max-width: 250px;
	height:auto;
	border-radius:10px;

}

/*form*/
#contact {
	display: flex;
	justify-content: center;
	align-items:flex-start;
	gap:20px;
	margin:0;
	max-width: 100%;
	flex-wrap: wrap-reverse;
}

#contactform {
	background-color: purple;
	padding:20px 40px;
	margin-top:20px;
	width:100%;
	max-width:600px;
	color:white;
	font-family: 'lato', sans-serif;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#contactform h3 {
	font-size:1.8rem;
	text-align:center;
	margin-bottom:10px;
	color: #ffffff;
	text-transform: uppercase;
}

#contactform label {
	font-size: 1.2rem;
	margin-bottom: 8px;
	display:block;
}
#contactform input[type="text"],
#contactform input[type="email"],
#contactform textarea {
	width:90%;
	padding:8px;
	margin-bottom:20px;
	border:none;

	font-size: 1rem;
	font-family: 'lato', sans-serif;
}

#contactform input[type="radio"]
{
	margin-right:10px;
}

#contactform .radiogroup {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	width:100%;
}

#contactform input[type="submit"] {
	background-color: orange;
	color:white;
	padding: 8px 15px;
	border: none;
	cursor: pointer;
	font-size:1rem;
}

#contactform h4 {
	margin 15px 0 8px;
	font-size:1rem;
}

#contactform input[type="submit"]:hover {
	background-color: #e65100;
}



#imgflorsit{
	width:40%;
}
#imgflorist img{
	width:100%;
	max-width:446px;
	height:auto;
	padding:8px;
	margin-top:20px;
	border: 4px solid pink;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.contact-image {
width:30%;
}
.contact-image figure img {
	width:100%;
	max-width:446px;
	height:auto;
	padding:8px;
	margin-top:20px;

}





/*
#homepage {
		background-color: #f4f4f4;
	background-image:none;
}

*/
header {
	background-color: #1d214d;
	padding:10px;
	text-align:left;
}
header nav ul {
	list-style:none;
	display:flex;
	justify-content:left;
	margin:0;
}
header nav ul li {
	margin: 0 10px;
}
header nav ul li a {
	color: #fff;
	text-decoration:none;
	padding:5px 10px;
}
nav a:hover {
	color:red;
}

.nav-button {
	display:inline-block;
	padding: 10px 20px;
	color: white;
	background-color:white;
	border:none;
	border-radius:5px;
text-decoration:none;
	font-size:16px;
	transition: background color-color 0.3s;
}
.nav-button:hover {
		background-color: #555;
}

section {
	border:none;
	border-color: black;
	border-width: 3%;
	padding: 3%;
}

section.content .pcontent p {
	border: 1px solid #aeffff;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	content-align:left;
	text-align:left;
	box-shadow: -1px 1px 23px 1px #b0ffff;
}
	

section#home {
	display: flex;
	justify-content: center;
	max-width:100%;
	margin:0;
	padding:0;
	
}

section.content {
	display:flex;
	flex-direction: column; 
	align-items: left;
}

section.content.powerplant figure {
	margin-right: auto;
	margin-top:40px;
}

section.content.tank {
	display:flex;
	flex-direction:column;
	
	align-items:flex-end;
}


section.content.tank figure {

	display:flex;
	flex-direction:column;
	align-items:center;
	
	align-items:center;
	margin:0;
	text-align:center;
}
section.content.tank figure img {
	max-width: 300px;
	width:auto;
	height:auto;
	margin-bottom: 5px;
}

section.content.tank figure figcaption {
	margin-top: 5px;
	text-align:center;
	color:white;
}

section.content.soldier figure {
	margin-right:auto;
}


section.content figure img {
	max-width: 300px;
	min-width:20%;
	width:100%;
	height: auto;
	margin-bottom: 5px;

}

.pcontent{
	text-align: left;
}
/*
figure {
display:flex;
flex-direction: column;
align-items:center;
justify-content:flex-start;
margin:0;
clear:both;
}
*/

figcaption {
text-align:center;
	clear:both;
	color:white;
	text-shadow: 0px -6px 10px #000000, 5px 5px 10px #000000, 5px 5px 10px #000000, 5px 5px 10px #000000;
	font-size:1.50rem;
}

p { 
color:white;
text-shadow: 14px -6px 10px #000000, -13px -5px 10px #000000, 5px -2px 10px #000000, 5px 5px 10px #000000, 5px 5px 10px #000000;
}
section{
	padding-left: 10%;
	padding-right:10%;
}

footer {
background-color:#1d214d;
color:#fff;
text-align:center;
padding: 20px;
margin-top:20px;
}

footer nav ul {
	list-style:none;
	display:flex;
	justify-content:center;
}

footer nav ul li {
	margin:0 10px;
}

footer nav ul li a {
	color:#fffff;
	text-decoration:none;
	padding:5px 10px;
}

footer address {
	margin-top:10px;
	font-style:normal;
}

footer p {
	color:white;
	font-size: 0.8rem;
}

.reactors {
	
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
 text-align: center;
 height: auto;
 padding:20px;
 box-sizing: border-box;
}

.reactors figure {
	margin: 0;
	padding: 0;
}


.reactors article {
	max-width:800px;
	margin-top:5px;
	padding: 0 5px;
	border-radius: 10px;
}

.reactors {
	margin:10px;
}

.reactors img {
	display: block;
	max-width:800px;
	height:auto;
	margin-bottom:0;
}

.reactors p {
	border: 1px solid #aeffff;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	content-align:left;
	text-align:left;
	box-shadow: -1px 1px 23px 1px #b0ffff;
	clear:both;
}

.shinra article {
	max-width: 800px;
}

h1 {
font-size: 5rem;
text-align:center;
margin-top: 0;
padding-top:0;
}

section.content.infantry {
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
 text-align: center;
 height: auto;
 padding:20px;
 box-sizing: border-box;
 margin-right:30px;
}

section.content.infantry article {
	max-width:800px;
	margin-top:10px;
	padding: 0 10px;
	border-radius: 10px;

}

section.content.infantry figure {
	width:100%;
	max-width:600px;
	text-align: center;
	margin:0;
	border:1px;
	border-radius:5px;
}

section.content.infantry figure img {
 max-width:600px;
	height:auto;
	margin: 10px;
	
}

section.content.infantry figure figcaption {
	text-align: center;
	
	font-size: 1rem;
	color:white;
	margin-top:5px;
}

section.content.infantry .pcontent {
	border: 1px solid #aeffff;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	content-align:left;
	text-align:left;
	box-shadow: -1px 1px 23px 1px #b0ffff;

}

	

@media (max-width: 768px)  {
	
	
	nav ul {
        display: none;
    } 

    .hamburger-menu {
        display: block;
    }	
	
	section#home {
	display: flex;
	justify-content: center;
	max-width:100%;
}
	
section.content figure img {
	max-width: 250px;
	min-width:20%;
	width:100%;
	height: auto;
	margin-bottom: 10px;

}

.shinra figure img {
width: 600px;
height: auto;
margin-top:0;
padding-top:0;
margin-bottom:1%;
}
body {
	
background-image: url(Images/platemap.png);
background-size:cover;
background-position:center;
background-repeat:no-repeat;
 background-color: #cccccc;
}



#contact {
	flex-direction:column;
	align-items:center;

}

.contact-image {
	order: -1;
width:100%;
	text-align:center;
}
.contact-image figure img {
	max-width:150px;
	width:100%;
	height:auto;
	margin:0 auto;
}
.callus, #contactform {
width:100%;
max-width:100%;
padding:20px;

}
#contactform{
	padding:15px;
	font-size:1rem;
}

.callus{
	font-size:2rem;
}

.contactformcontainer {
	width:100%;
	margin:0 auto;
}



.callus h1 {
	font-size:4rem;
	margin-bottom:50px;
}

.callus p {
	font-size:3rem;
	margin-top:50px;
}

#contactform input, #contactform textarea {
	width:100%;
}

}



@media (max-width: 480px) {
	
	
section.content figure img {
	max-width: 250px;
	min-width:30%;
	width:100%;
	height: auto;
	margin-bottom: 10px;

}

.shinra figure img {
width: 300px;
height: auto;
margin-top:0;
padding-top:0;
margin-bottom:5%;
}
body
{
  margin: 0;
  padding: 0;
  

  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#aboutpage {
	background-image:none;

 background: #232323;
}

#contact {
	display: flex;
	flex-direction:column;
	align-items:center;
}

.contact-image {
	order: -1;
	position:static;
	margin-bottom:5px;
	text-align:center;
}
.contact-image figure img {
	max-width:400px;
	height:auto;
}

.contact-image img {
	max-width:200px;
	}

.callus {
	width:90%;

	margin: 20px auto;

}

#contactform {
	width:250%;
	padding:15px;
	font-size:1rem;
	clear:both;
}

.callus h1 {
	font-size:2rem;
	margin-bottom:50px;
}

.callus p {
	font-size:1.5rem;
	margin-top:50px;
}



main {
  width: 320px;
  max-width: 600px;
  margin: 100px auto;
}

p {
  font-size: 1.3rem;
  line-height: 28px;
}


* {
  scroll-behavior: smooth;
}






#menuToggle
{
  display: block;

  position: absolute;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: center;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}

}

